<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>bankingAccount</param-name>
        <param-value>TechShop</param-value>
    </context-param>
    <context-param>
        <param-name>nameBank</param-name>
        <param-value>MB Bank</param-value>
    </context-param>
    <context-param>
        <param-name>number</param-name>
        <param-value>0384104668</param-value>
    </context-param>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>Control.Homepage.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Control.Login.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationEmail</servlet-name>
        <servlet-class>Control.Login.VerificationEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>Control.Login.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterNewPass</servlet-name>
        <servlet-class>Control.Login.EnterNewPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Control.Login.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Control.Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Control.Login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>Control.Homepage.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCard</servlet-name>
        <servlet-class>Control.Card.AddToCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTotalCard</servlet-name>
        <servlet-class>Control.Card.ViewTotalCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllOrder</servlet-name>
        <servlet-class>Control.Card.AllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>Control.Card.Pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>Control.Admin.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>Control.Admin.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Control.Admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Control.Admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Control.Admin.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationEmail</servlet-name>
        <url-pattern>/verificationRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterNewPass</servlet-name>
        <url-pattern>/EnterNewPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCard</servlet-name>
        <url-pattern>/addcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTotalCard</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllOrder</servlet-name>
        <url-pattern>/myorderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/Pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/product/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000000
        </session-timeout>
    </session-config>
</web-app>
