USE [PRJ301_SE1650_TranNhatMinh_HE151186]
GO
/****** Object:  Table [dbo].[Brand_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand_HE151186](
	[brand_id] [varchar](30) NOT NULL,
	[brand_name] [varchar](30) NOT NULL,
	[brand_description] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_HE151186](
	[cate_id] [varchar](30) NOT NULL,
	[cate_name] [varchar](30) NOT NULL,
	[cate_description] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails_HE151186](
	[order_id] [int] NOT NULL,
	[product_id] [varchar](30) NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_HE151186](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[order_date] [date] NULL,
	[totalmoney] [money] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_HE151186](
	[product_id] [varchar](30) NOT NULL,
	[product_name] [varchar](30) NOT NULL,
	[product_image] [varchar](30) NOT NULL,
	[brand_id] [varchar](30) NOT NULL,
	[product_size] [int] NOT NULL,
	[product_price] [money] NOT NULL,
	[product_description] [varchar](30) NOT NULL,
	[tech_id] [varchar](30) NOT NULL,
	[cate_id] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_HE151186](
	[r_id] [int] NOT NULL,
	[r_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[r_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technology_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technology_HE151186](
	[tech_id] [varchar](30) NOT NULL,
	[tech_name] [varchar](30) NOT NULL,
	[tech_description] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tech_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_HE151186]    Script Date: 11/7/2022 11:08:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_HE151186](
	[email] [varchar](100) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [varchar](150) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[r_id] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Brand_HE151186] ([brand_id], [brand_name], [brand_description]) VALUES (N'acer', N'Acer', N'description')
INSERT [dbo].[Brand_HE151186] ([brand_id], [brand_name], [brand_description]) VALUES (N'aoc', N'AOC', N'description')
INSERT [dbo].[Brand_HE151186] ([brand_id], [brand_name], [brand_description]) VALUES (N'asus', N'Asus', N'description')
GO
INSERT [dbo].[Category_HE151186] ([cate_id], [cate_name], [cate_description]) VALUES (N'design', N'Design', N'description')
INSERT [dbo].[Category_HE151186] ([cate_id], [cate_name], [cate_description]) VALUES (N'game', N'Gaming', N'description')
INSERT [dbo].[Category_HE151186] ([cate_id], [cate_name], [cate_description]) VALUES (N'orther', N'Orther', N'descripton')
GO
INSERT [dbo].[OrderDetails_HE151186] ([order_id], [product_id], [quantity], [price]) VALUES (40, N'p12', 1, 6690.0000)
INSERT [dbo].[OrderDetails_HE151186] ([order_id], [product_id], [quantity], [price]) VALUES (40, N'p11', 1, 3890.0000)
GO
SET IDENTITY_INSERT [dbo].[Orders_HE151186] ON 

INSERT [dbo].[Orders_HE151186] ([order_id], [email], [order_date], [totalmoney], [status]) VALUES (40, N'koko123@gmail.com', CAST(N'2022-10-31' AS Date), 10580.0000, 0)
SET IDENTITY_INSERT [dbo].[Orders_HE151186] OFF
GO
INSERT [dbo].[Product_HE151186] ([product_id], [product_name], [product_image], [brand_id], [product_size], [product_price], [product_description], [tech_id], [cate_id]) VALUES (N'ace324', N'Acer Pro Book', N'photo/asus.jpg', N'acer', 32, 4539.0000, N'Acer Vip Pro Book 16gb ram', N'ips', N'design')
INSERT [dbo].[Product_HE151186] ([product_id], [product_name], [product_image], [brand_id], [product_size], [product_price], [product_description], [tech_id], [cate_id]) VALUES (N'JAC-1235', N'Gaming Vip pro TUF', N'photo/asus.jpg', N'asus', 28, 7002.0000, N'Gaming max ping', N'ips', N'game')
INSERT [dbo].[Product_HE151186] ([product_id], [product_name], [product_image], [brand_id], [product_size], [product_price], [product_description], [tech_id], [cate_id]) VALUES (N'p1', N'24MP59G', N'photo/p1.jpg', N'lg', 24, 3190.0000, N'LG Gaming 24 inch', N'ips', N'game')
GO
INSERT [dbo].[Role_HE151186] ([r_id], [r_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role_HE151186] ([r_id], [r_name]) VALUES (2, N'Manager')
INSERT [dbo].[Role_HE151186] ([r_id], [r_name]) VALUES (3, N'Guest')
GO
INSERT [dbo].[Technology_HE151186] ([tech_id], [tech_name], [tech_description]) VALUES (N'ips', N'IPS', N'description')
INSERT [dbo].[Technology_HE151186] ([tech_id], [tech_name], [tech_description]) VALUES (N'oled', N'OLED', N'description')
INSERT [dbo].[Technology_HE151186] ([tech_id], [tech_name], [tech_description]) VALUES (N'tn', N'TN', N'description')
GO
INSERT [dbo].[User_HE151186] ([email], [password], [name], [phone], [address], [dob], [gender], [r_id]) VALUES (N'koko123@gmail.com', N'hahaha1234', N'okok', N'9238423452', N'nam nam', CAST(N'2001-05-28' AS Date), 1, 3)
INSERT [dbo].[User_HE151186] ([email], [password], [name], [phone], [address], [dob], [gender], [r_id]) VALUES (N'kson8504@gmail.com', N'sonloc123', N'Sonnk7', N'0384104668', N'12 son tay', CAST(N'2001-05-28' AS Date), 1, 1)
INSERT [dbo].[User_HE151186] ([email], [password], [name], [phone], [address], [dob], [gender], [r_id]) VALUES (N'minhtn12@gmail.com', N'minh12345', N'Minh Tran', N'092834523', N'123 sonloc', CAST(N'2001-12-03' AS Date), 1, 1)
GO
ALTER TABLE [dbo].[OrderDetails_HE151186]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders_HE151186] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetails_HE151186]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product_HE151186] ([product_id])
GO
ALTER TABLE [dbo].[Orders_HE151186]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([email])
REFERENCES [dbo].[User_HE151186] ([email])
GO
ALTER TABLE [dbo].[Orders_HE151186] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Product_HE151186]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand_HE151186] ([brand_id])
GO
ALTER TABLE [dbo].[Product_HE151186]  WITH CHECK ADD FOREIGN KEY([cate_id])
REFERENCES [dbo].[Category_HE151186] ([cate_id])
GO
ALTER TABLE [dbo].[Product_HE151186]  WITH CHECK ADD FOREIGN KEY([tech_id])
REFERENCES [dbo].[Technology_HE151186] ([tech_id])
GO
ALTER TABLE [dbo].[User_HE151186]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([r_id])
REFERENCES [dbo].[Role_HE151186] ([r_id])
GO
ALTER TABLE [dbo].[User_HE151186] CHECK CONSTRAINT [FK_User_Role]
GO
