/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 30, 2022, 10:28:41 PM
    Author     : Administrator
*/
.page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px #d3d3d3;
  border-radius: 5px;
  padding: 10px 15px;
}
.page-container i {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-dark);
  pointer-events: none;
}
.page-container button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.page-container button:disabled i {
  color: #aaadc7;
}

#pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#pagination li {
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 3px;
}
#pagination li.active {
  background-color: #39f;
}
#pagination li.active a {
  color: #fff;
}
#pagination li a {
  text-decoration: none;
  font-weight: 600;
  padding: 8px 13px;
  display: inline-block;
  line-height: 1;
  color: #a9a9a9;
  font-size: 20px;
  pointer-events: none;
}
#pagination li:hover {
  background-color: #39f;
}
#pagination li:hover a {
  color: #fff;
}
